body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 100%;
    box-sizing: border-box;
}

header {
    background-image: url(photos/catalog.jpg);
    color: whitesmoke;
    padding: 60px;
    text-align: center;
    
}
main {
    padding: 20px;
}

footer {
    background-image: url(photos/maurice.jpg);
    color: whitesmoke;
    text-align: center;
    padding: 85px;
}